WEB_API_KEY=WEB_API_KEY
ANDROID_API_KEY=ANDROID_API_KEY
IOS_API_KEY=IOS_API_KEY
FIREBASE_PROJECT_ID=FIREBASE_PROJECT_ID
FCM_URL=FCM_URL
PAYSTACK_TEST_PUBLIC_KEY=PAYSTACK_TEST_PUBLIC_KEY
PAYSTACK_TEST_SECRET_KEY=PAYSTACK_TEST_SECRET_KEY
PAYSTACK_API_BASE_URL=PAYSTACK_API_BASE_URL
NODE_API_BASE_URL=NODE_API_BASE_URL